.jumbotron {
  margin-bottom: 50px;
  padding-bottom: 10px;
  background-color: rgb(80, 140, 145);
}

h1 {
  padding-bottom: 20px;
}

.navbar-nav {
  float: none;
  margin: 0 auto;
  text-align: center;

  color: White;
  font-size: 15px;
}
